@import '../../variables';

.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.contentWrap {
  display: flex;
}
.contentText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  & a {
    color: #212121;
    text-decoration: none;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
  }
}

.contentParallax {
  text-align: center;
}
