.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f5db13;
  height: 93px;
  padding-left: 3%;
}

.navigation {
  width: 70%;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}
